<a href="https://colab.research.google.com/github/mpHarm88/DS-Unit-1-Sprint-2-Data-Wrangling-and-Storytelling/blob/master/module1-join-and-reshape-data/Mikio_Harman_LS_DS_121_Join_and_Reshape_Data_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

_Lambda School Data Science_

# Join and Reshape datasets

Objectives
- concatenate data with pandas
- merge data with pandas
-  understand tidy data formatting
-  melt and pivot data with pandas

Links
- [Pandas Cheat Sheet](https://github.com/pandas-dev/pandas/blob/master/doc/cheatsheet/Pandas_Cheat_Sheet.pdf)
- [Tidy Data](https://en.wikipedia.org/wiki/Tidy_data)
  - Combine Data Sets: Standard Joins
  - Tidy Data
  - Reshaping Data
- Python Data Science Handbook
  - [Chapter 3.6](https://jakevdp.github.io/PythonDataScienceHandbook/03.06-concat-and-append.html), Combining Datasets: Concat and Append
  - [Chapter 3.7](https://jakevdp.github.io/PythonDataScienceHandbook/03.07-merge-and-join.html), Combining Datasets: Merge and Join
  - [Chapter 3.8](https://jakevdp.github.io/PythonDataScienceHandbook/03.08-aggregation-and-grouping.html), Aggregation and Grouping
  - [Chapter 3.9](https://jakevdp.github.io/PythonDataScienceHandbook/03.09-pivot-tables.html), Pivot Tables
  
Reference
- Pandas Documentation: [Reshaping and Pivot Tables](https://pandas.pydata.org/pandas-docs/stable/reshaping.html)
- Modern Pandas, Part 5: [Tidy Data](https://tomaugspurger.github.io/modern-5-tidy.html)

In [1]:
!wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

--2020-01-05 22:20:56--  https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.216.205.93
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.216.205.93|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 205548478 (196M) [application/x-gzip]
Saving to: ‘instacart_online_grocery_shopping_2017_05_01.tar.gz’

instacart_online_gr 100%[===================>] 196.03M  20.1MB/s    in 10s

2020-01-05 22:21:07 (19.1 MB/s) - ‘instacart_online_grocery_shopping_2017_05_01.tar.gz’ saved [205548478/205548478]

In [2]:
!tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

x instacart_2017_05_01/
x instacart_2017_05_01/aisles.csv
x instacart_2017_05_01/departments.csv
x instacart_2017_05_01/order_products__prior.csv
x instacart_2017_05_01/order_products__train.csv
x instacart_2017_05_01/orders.csv
x instacart_2017_05_01/products.csv

In [3]:
%cd instacart_2017_05_01

/Users/mph/Lambda/Unit1/DS-Unit-1-Sprint-2-Data-Wrangling-and-Storytelling/module1-join-and-reshape-data/instacart_2017_05_01

In [4]:
!ls -lh *.csv

-rw-r--r--@ 1 mph  staff   2.5K May  2  2017 aisles.csv
-rw-r--r--@ 1 mph  staff   270B May  2  2017 departments.csv
-rw-r--r--@ 1 mph  staff   551M May  2  2017 order_products__prior.csv
-rw-r--r--@ 1 mph  staff    24M May  2  2017 order_products__train.csv
-rw-r--r--@ 1 mph  staff   104M May  2  2017 orders.csv
-rw-r--r--@ 1 mph  staff   2.1M May  2  2017 products.csv

# Assignment

## Join Data Practice

These are the top 10 most frequently ordered products. How many times was each ordered? 

1. Banana
2. Bag of Organic Bananas
3. Organic Strawberries
4. Organic Baby Spinach 
5. Organic Hass Avocado
6. Organic Avocado
7. Large Lemon 
8. Strawberries
9. Limes 
10. Organic Whole Milk

First, write down which columns you need and which dataframes have them.

Next, merge these into a single dataframe.

Then, use pandas functions from the previous lesson to get the counts of the top 10 most frequently ordered products.

In [52]:
import pandas as pd
import matplotlib.pyplot as plt

In [6]:
orders = pd.read_csv('orders.csv')
products = pd.read_csv('products.csv')
order_prior = pd.read_csv('order_products__prior.csv')
order_train = pd.read_csv('order_products__train.csv')

In [14]:
order_Train_And_Prior = pd.concat([pd.read_csv('order_products__prior.csv'),
                                   pd.read_csv('order_products__train.csv')])

order_Train_And_Prior.head()
subset = order_Train_And_Prior['product_id']
tops = pd.merge(subset, products, how='inner', on='product_id')

top_10 = tops['product_name'].value_counts().to_frame()
top_10['Times Ordered'] = tops['product_name'].value_counts()
top_10_Final = top_10.head(10)
top_10_Final = top_10_Final.reset_index()
top_10_Final.columns = ['Item', 'Product ID', 'Total Times Ordered']
top_10_Final.index += 1
top_10_Final

                      Item  Product ID  Total Times Ordered
1                   Banana      491291               491291
2   Bag of Organic Bananas      394930               394930
3     Organic Strawberries      275577               275577
4     Organic Baby Spinach      251705               251705
5     Organic Hass Avocado      220877               220877
6          Organic Avocado      184224               184224
7              Large Lemon      160792               160792
8             Strawberries      149445               149445
9                    Limes      146660               146660
10      Organic Whole Milk      142813               142813

## Reshape Data Section

- Replicate the lesson code
- Complete the code cells we skipped near the beginning of the notebook
- Table 2 --> Tidy
- Tidy --> Table 2
- Load seaborn's `flights` dataset by running the cell below. Then create a pivot table showing the number of passengers by month and year. Use year for the index and month for the columns. You've done it right if you get 112 passengers for January 1949 and 432 passengers for December 1960.

In [16]:
import numpy as np
import seaborn as sns
flights = sns.load_dataset('flights')

In [17]:
table1 = pd.DataFrame(
    [[np.nan, 2],
     [16, 11],
     [3, 1]],
     index=['John Smith', 'Jane Doe', 'Mary Johnson'],
     columns=['treatmenta', 'treatmentb'])

table2 = table1.T.reset_index()
table2

        index  John Smith  Jane Doe  Mary Johnson
0  treatmenta         NaN      16.0           3.0
1  treatmentb         2.0      11.0           1.0

In [18]:
table2_Tidy = table2.melt(id_vars='index')
table2_Tidy

        index      variable  value
0  treatmenta    John Smith    NaN
1  treatmentb    John Smith    2.0
2  treatmenta      Jane Doe   16.0
3  treatmentb      Jane Doe   11.0
4  treatmenta  Mary Johnson    3.0
5  treatmentb  Mary Johnson    1.0

In [19]:
table2 = table2_Tidy.T
table2

,0,1,2,3,4,5
index,treatmenta,treatmentb,treatmenta,treatmentb,treatmenta,treatmentb
variable,John Smith,John Smith,Jane Doe,Jane Doe,Mary Johnson,Mary Johnson
value,NaN,2,16,11,3,1

In [20]:
flights.pivot_table(index='year', columns='month')

      passengers                                                               \
month    January February March April  May June July August September October
year
1949         112      118   132   129  121  135  148    148       136     119
1950         115      126   141   135  125  149  170    170       158     133
1951         145      150   178   163  172  178  199    199       184     162
1952         171      180   193   181  183  218  230    242       209     191
1953         196      196   236   235  229  243  264    272       237     211
1954         204      188   235   227  234  264  302    293       259     229
1955         242      233   267   269  270  315  364    347       312     274
1956         284      277   317   313  318  374  413    405       355     306
1957         315      301   356   348  355  422  465    467       404     347
1958         340      318   362   348  363  435  491    505       404     359
1959         360      342   406   396  420  472  548    559       463     407
1960         417      391   419   461  472  535  622    606       508     461


month November December
year
1949       104      118
1950       114      140
1951       146      166
1952       172      194
1953       180      201
1954       203      229
1955       237      278
1956       271      306
1957       305      336
1958       310      337
1959       362      405
1960       390      432

## Join Data Stretch Challenge

The [Instacart blog post](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2) has a visualization of "**Popular products** purchased earliest in the day (green) and latest in the day (red)." 

The post says,

> "We can also see the time of day that users purchase specific products.

> Healthier snacks and staples tend to be purchased earlier in the day, whereas ice cream (especially Half Baked and The Tonight Dough) are far more popular when customers are ordering in the evening.

> **In fact, of the top 25 latest ordered products, the first 24 are ice cream! The last one, of course, is a frozen pizza.**"

Your challenge is to reproduce the list of the top 25 latest ordered popular products.

We'll define "popular products" as products with more than 2,900 orders.

In [111]:
products.head()

,product_id,product_name,aisle_id,department_id
0,1,Chocolate Sandwich Cookies,61,19
1,2,All-Seasons Salt,104,13
2,3,Robust Golden Unsweetened Oolong Tea,94,7
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1
4,5,Green Chile Anytime Sauce,5,13

In [73]:
df = pd.merge(order_Train_And_Prior, products, on='product_id')
final = pd.merge(df, orders, on="order_id")
print(final.shape)
final.tail()

(33819106, 14)

,order_id,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,ordered_Recently
33819101,2839453,28717,1,0,Sport Deluxe Adjustable Black Ankle Stabilizer,133,11,170084,train,4,0,16,0.0,True
33819102,1362475,12841,1,0,King Crab Legs,39,12,184060,train,4,4,6,30.0,False
33819103,2666238,31530,1,0,Disinfecting Toilet Bowl Cleaner,114,17,51836,prior,12,0,18,0.0,True
33819104,2770035,39759,1,0,"Indoor & Outdoor Allergies, Allergy & Congesti...",11,11,37237,prior,50,6,16,2.0,False
33819105,3326955,46404,1,0,Cotes De Provence Rose,6,2,132609,prior,7,3,15,2.0,False

In [176]:
#Look at orders at midnight
late = final[final['department_id']==21]
late = late[late['order_hour_of_day']>=12]
late = late[late['order_number']==1]
late['product_name'].value_counts(normalize=True).head(25)

Organic Riced Cauliflower                                  0.117377
Cookie Dough Ice Cream Chocolate Chip                      0.027541
Organic Celery Bunch                                       0.022951
Peanut Butter Ice Cream Cup                                0.019672
Organic Mango Yogurt                                       0.017049
Organic Whole Milk Washington Black Cherry Yogurt          0.016393
Natural Lemon Flavored Sparkling Water                     0.015738
Sumo Mandarin                                              0.013115
Soy & Dairy Free Plain Unsweetened Almond Milk Yogurt      0.013115
S'mores Ice Cream                                          0.011803
Water Filtration Pitcher Advanced Replacement Filter       0.010492
Cayenne Cleanse Kombucha                                   0.009836
Magic Tape Refillable Dispenser 3/4\" x 850\"              0.009836
Protein Bar Maple Sea Salt                                 0.009180
Organic Cashew Nondairy Vanilla Yogurt                     0.009180
Organic Nondairy Strawberry Cashew Yogurt                  0.009180
Lemon Bag                                                  0.008525
Organic Plain Unsweetened Nondairy Cashew Yogurt           0.007869
Organic Chocolate Chip Cookie Dough                        0.007869
Strained Non-Fat Strawberry Icelandic Style Skyr Yogurt    0.007869
Organic Original Coconut Non-Dairy Beverage                0.007213
Fresh Organic Carrots                                      0.007213
Organic Pink Lady (Cripps) Apple                           0.006557
Organic Ground Chicken                                     0.006557
Organic Cashew Nondairy Blueberry Yogurt                   0.005902
Name: product_name, dtype: float64

## Reshape Data Stretch Challenge

_Try whatever sounds most interesting to you!_

- Replicate more of Instacart's visualization showing "Hour of Day Ordered" vs "Percent of Orders by Product"
- Replicate parts of the other visualization from [Instacart's blog post](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2), showing "Number of Purchases" vs "Percent Reorder Purchases"
- Get the most recent order for each user in Instacart's dataset. This is a useful baseline when [predicting a user's next order](https://www.kaggle.com/c/instacart-market-basket-analysis)
- Replicate parts of the blog post linked at the top of this notebook: [Modern Pandas, Part 5: Tidy Data](https://tomaugspurger.github.io/modern-5-tidy.html)

In [ ]:
##### YOUR CODE HERE #####